body{
   font: 15px/1.5 Aria, Helvetica, sans-serif;
   padding: 0;
   margin: 0;
   background-color: #f4f4f4;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
.container ul{
    margin: 0;
    padding: 0;
} 

.container ul li{
    display: inline-table;
    margin-right:40px;
    
}
.container ul li ul li{
    display:flex;
    display: none


}
.branding ul li:hover ul li{
    display:block;
}
header #branding h1{
    margin: 0;
}
header #branding img{
    transition: 1s ease;
    margin-left: 50px;
    margin-bottom: 10px
    width:100px;
    height: 100px;
    float:left;

}
header nav{
    float: right;
    margin-top: 10px;
}
header .current a{
    color: #e8491d;
    font-weight: bold;
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}
#showcase{
    min-height: 400px;
    background: url('../Images/') no-repeat 0 -400px;
    text-align: center;
    color: #ffffff;
}
#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
    color: black;
}
#showcase p{
    font-size: 20px;
    color: black;
}

/*#boxes{
    margin-top: 20px;
}
#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    /*height: 30%;
    padding: 10px;
}
#boxes .box img{
    width: 300px;
    height: 200px;

}
*/
footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}
  .map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    background:grey;
   }
p
{
    style = "font-family:arial;";
    font-size: 25px;
}
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 25px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.centered1 {
  position: absolute;
  top: 20%;
  left: 50%;
  font-size: 25px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.centeredx {
  position: absolute;
  top: 15%;
  left: 50%;
  font-size: 25px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.container2 {
  position: relative;
  text-align: center;
  color: white;
}
.q
{
    margin-top: 0px;
    font-size: 15px;
    width: 260px;
    background-color: black;
    padding: 20px;
}
.r
{
    margin-top: 0px;
    margin-left: 32px;
    background-color: black;
    padding: 20px;
    width:260px;
}
.s
{
    opacity: 0.3;
}
.t
{
    width: 1500px;
    padding: 20px;
    text-align: left;
    margin-top: 1px;
    color: black;
    margin-bottom: 1px;
}
.v  
{
float: left;
width: 100px;
height: 200px;
}
.centered2 {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 25px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.container3 {
  position: relative;
  text-align: center;
  color: black;
}
#map { 
        height: 400px; 
        width: 100%; 
       } 
.cente {
  position: absolute;
  top: 15%;
  left: 35%;
  font-size: 40px;
  color: black;
  text-align: center;
  transform: translate(-50%, -50%);
}
.cent {
  position: absolute;
  top: 30%;
  left: 35%;
  font-size: 30px;
  color: black;
  text-align: left;
  transform: translate(-50%, -50%);
}

.faqbody .answer{
  padding-bottom: 20px;
  margin-bottom:5px;
  border-bottom : 2px solid #bdc3c7;
}
.faqbody .question{

  border-left :5px solid #bdc3c7;
  padding:5px;
}
.faqbody{
  font-family: 'Source Sans Pro', sans-serif;
  max-width:700px;
  width:80%;
  border :20px solid #bdc3c7;
  margin:10px auto;
  padding : 10px;
}
.faqbody h1{
  text-align: center;
}
.anbody{
  font-family: 'Source Sans Pro', sans-serif;
   max-width:700px;
  width:80%;
  margin:10px auto;
  padding : 10px;
}
.anbody h1{
  text-align: center;
}
.anbody .an1{
  border:50x solid #bdc3c7;
  text-align:center;
  margin-top:30px;
  background-color: #bdc3c7;
  margin-bottom:30px;
  padding-top: 20px;
  padding-bottom:20px;
}
.inbody{
    width:80%;
    height: auto;
    text-align: center;
    margin-left:10%;
   
}
.inbody h4{
	font-family: 'Pangolin', cursive;
}
.collab{
	background-color:grey ;
	width:80%;
	height:330px;
	text-align: center;
	margin-left:10%;
}
.collab img{
	width:100px;
	height:60px;
	float:left;
	margin-left:30px;
	margin-right:30px;
	margin-bottom:30px;
}
#i
{
opacity: 0.4;
}
#ii
{
  color: black;
}
h2
{
  color: black;
  font-size: 45px;
  text-align: left;
}
.centered3 {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 25px;
  text-align: center;
  transform: translate(-50%, -50%);
}
#u
{
  color: black;
}
h3
{
  text-align: center;
}
.social-icons {
    text-align: center;
    }  
  .social-icons li {
    display:flex;
    justify-content:center;
    list-style-type:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    }
  .social-icons li a {
    border-bottom: none;
    }
  .social-icons li img {
    width:70px;
    height:70px;
    margin-right: 20px;
  }
/*.contact-info{
	text-align:center
<<<<<<< HEAD
}*/
=======
}
.coursesbody{
  text-align: center;
}
.coursesbody{
  border:2px solid black;
  width:50%;
  margin-left:25%;
  margin-top:5%;
  background-color:  #ccccb3;
}
.coursesbody img{
  width:40%;
  height:40%;
}
.coursesbody h3{
  text-align:center;

}*/
/*.coursesbody ul li{
  text-align: center;
  list-style: none;
}*/
.coursebody h1{
  text-align: center;

}
.coutline{
  border-top:2px solid black;
  display:flex;
  width:90%;
  margin-left:5%;
}
.courseimg{
  padding-top: 5%;
  width:50%;
}
.courseinfo{
  padding-top: 5%;
  width:50%;
  padding-left:20px;
 
}
.courseinfo h1{
  text-align: center;
}
.courseimg img{
  width:100%;
}
.md{
  float:right;
  color:blue;
}
#details{
  display: none;
  width:50%;
}
.admi
{

}

.qu
{
text-align: left;
font-size: 45px;
color: black;
}
.ans
{
  color: white;
}
.la
{
  text-align: left;
  background-color: aliceblue;
  padding: 30px;
  font-size: 25px;
  margin-top: 1px;
}
#f1
{
background-color: black;
color: white;
padding:15px;
}
table, tr, th
{
  font-family: arial, sans-serif;
  width: 75%;
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
   border: 1px solid black;
  padding: 15px;
}
tr:nth-child(odd) {
  background-color: gray;
}
#cnt
{
  text-align: center;
  font-size: 25px;
}
#c
{
  text-align: left;
  margin-top: 1px;
  font-size: 35px;
}
#ppx
{
  font-size: 20px;
  text-align: left;
  color: white;
  background:#35424a;
  opacity: 0.5;
}
#p0p
{
  font-size: 25px;
  color: white;
text-align: left;
}
.an
{
text-align: center;
background-color: grey;
padding: 300px;
width: auto;
margin-right: 0px;
}
#center
{
  text-align: center;
}
