/*navigation of all*/
.title{
	display:flex;
	text-align: center
}
.modules ul{
	display:flex;
	padding-top: 20px;
	margin-left: 17%;
}
.modules li{
	list-style: none;
	margin-left:35px;
	margin-right: 35px;
	
}
/*.modules .navstart{
	margin-left:17%;
    font-weight: bold;

} */
.burger{
	display: none;
}
.burger div{
	width: 25px;
	height: 3px;
	background-color: #cccccc;
	margin: 5px;
	transition: all 0.3s ease;
}
.modules a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
.title{
	margin-left:33%;
	height: 100px;
    padding-bottom: 10px;
}
.title .logo img{
  height:100px;
  width:auto;
  margin-top: 15px;
}
.title .clgname{
	
	margin-left:20px;
}
.title .clgname h1{
	letter-spacing: 0.1rem;
	font-family: 'Headland One', serif;
}
.title .clgname h4{
	font-family: 'Pacifico', cursive;
	letter-spacing: 0.1rem;
}
.modules{
	background-color: #35424a;
	height: 60px;
	margin-bottom:5px;
}
.modules a:hover{
	color: #cccccc;
    font-weight: bold;
}
.current a {
	color: #e8491d;
  font-weight: bold;
}
/*common code*/
footer{
    padding: 20px;
    margin-top: 20px;
    color: #e8491d;
    background-color: #f4f4f4;
    text-align: center;
    width: 100%;
}
#center
{
  text-align: center;
}
#showcase{
    min-height: 400px;
    background: url('../Images/') no-repeat 0 -400px;
    text-align: center;
    color: #ffffff;
}
#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
    color: black;
}
#showcase p{
    font-size: 20px;
    color: black;
}
.container2{
  position: relative;
  text-align: center;
  color: white;
}
body{
   font: 15px/1.5 Aria, Helvetica, sans-serif;
   padding: 0;
   margin: 0;
   background-color: #f4f4f4;
}
/*Index page*/
.inbody{
    width:80%;
    height: auto;
    text-align: center;
    margin-left:10%;
}
.inbody h4{
	font-family: 'Pangolin', cursive;
}
.collab{
	background-color:#c9cad4 ;
	width:80%;
	height:330px;
	text-align: center;
	margin-left:10%;
}
.collab img{
	width:100px;
	height:60px;
	float:left;
	margin-left:30px;
	margin-right:30px;
	margin-bottom:30px;
}
#ibackground
{
opacity: 0.4;
}
#iintro
{
  color: black;
}
#iintro02
{
	background-color:aliceblue;
  color: black;
}
.centered {
  position: absolute;
  top: 35%;
  left: 50%;
  font-size: 25px;
  text-align: center;
  transform: translate(-50%, -57%);
}
/*courses*/
.broucher{
  float:right;
  background-color: #8fa0eb;
  padding:10px;
  margin-right:30px;
}
.broucher a{
  text-decoration: none;
  color:white;
}
.coursebody h1{
  text-align: center;
  padding-top: 30px;
}
.coutline{
  border-top:2px solid black;
  display:flex;
  width:90%;
  margin-left:5%;
}
.coutline1{
  margin-top:30px;
  display: flex;
  width:90%;
  margin-left:5%;
}

.courseimg{
  padding-top: 5%;
  width:50%;
}
.courseimg1{
  width:50%;
}
.courseimg1 img{
  width:100%;
}
.courseinfo1{
  width:50%;
}
.courseinfo{
  padding-top: 5%;
  width:50%;
  padding-left:20px;
 
}
.courseinfo h1{
  text-align: center;
}
.courseimg img{
  
  width:100%;
  height:100%;
}
/*faqs*/
.faqbody .answer{
  padding-bottom: 20px;
  margin-bottom:5px;
  border-bottom : 2px solid #bdc3c7;
}
.faqbody .question{

  border-left :5px solid #bdc3c7;
  padding:5px;
}
.faqbody{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: large;
  font-style: block;
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
  max-width:700px;
  width:80%;
  border :20px solid #bdc3c7;
  margin:10px auto;
  padding : 10px;
}
.faqbody h1{
  text-align: center;
}
/*announcements*/
.an
{
text-align: center;
background-color: grey;
padding: 300px;
width: auto;
margin-right: 0px;
}
/*contacts*/
 #map {
    height: 400px;  /* The height is 400 pixels */
    width: 50%;  /* The width is the width of the web page */
    background:grey;
    margin-left:25%;
   }
 .socialmedia ul li{
 	list-style: none;
 }
 .socialmedia ul li a img{
 	width:40px;
 	height: 40px;
 }
.socialmedia ul{
	display:flex;
	margin-left: 43.5%;
}
/*admissions*/
.container3 { 
  position: relative;
  text-align: center;
  color: black;
}
.qu
{
text-align: left;
font-size: 45px;
color: black;
}
.ans
{
  color: white;
}
.la
{
  text-align: left;
  background-color: aliceblue;
  padding: 30px;
  font-size: 25px;
  margin-top: 1px;
}
#f1
{
background-color: black;
color: white;
padding:15px;
}
table, tr, th
{
  font-family: arial, sans-serif;
  width: 75%;
  padding-left: 500px;
}
th, td {
   border: 1px solid black;
  padding: 15px;
}
tr:nth-child(odd) {
  background-color: gray;
}
/*about*/
#cnt
{
  text-align: center;
  font-size: 25px;
}
#c
{
  text-align: left;
  margin-top: 1px;
  font-size: 35px;
}
#ppx
{
  font-size: 20px;
  text-align: left;
  color: white;
  background:#35424a;
  opacity: 0.5;
}
#p0p
{
  font-size: 25px;
  color:black;
	background-color:aliceblue;
text-align: left;
}
#i
{
opacity: 0.4;
}
#ii
{
  color: black;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.centeredx {
  position: absolute;
  top: 15%;
  left: 50%;
  font-size: 25px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.centered3 {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 25px;
  text-align: center;
  transform: translate(-60%, -65%);
}
.blacked{
	color: black;
}
/*trail*/
.menu{
  display: none;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-width : 768px){
  #career-align
{
  text-align: center;
  font-size: 10px;

}
	.menu{
    display: block;
    padding:10px;
  }
  .nav-links li{
    display: none;
  }
    .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .logo{
    width:20px;
    height:10px;

    float:left;
  }
.title{
    padding:0;
    margin:0;
    margin-bottom:20px;
    text-align: left;
  }
  .title .logo img {
    padding: 0;
    margin: 0;
    width: 75px;
    height: 61px;
    margin-top: 19px;
    margin-left: 8px;
}
  .title .clgname {
    font-size: 11px;
    margin-left: 25%;
    padding-left: 0px;
    text-align: center;
}
  .body{
		overflow-x: hidden;
	}
	.centered{
		font-size: 9px;
		top: 105px;
    transform: translate(-50%, -32%);
	}
	.collab img{
		width: 30px;
		height: 22px;
		display: grid;
	}
	table,tr,th{
		padding-left: 50px;
		
	}
	.centeredx{
		font-size: 9px;
		top: 110px;
    transform: translate(-49%, -66%);
  }
	
	.centered3 {
    font-size: 11px;
    top: 180px;
    transform: translate(-45%, -38%);
  }
  .collab{
    margin-top: 30px;
    background-color:#c9cad4 ;
    width:80%;
    height:320px;
    text-align: center;
    margin-left:10%;
  }
  .collab img{
    width:40px;
    height:40px;
    float:left;
    margin-left:15px;
    margin-right:15px;
    margin-bottom:10px;
  }
  .collab h1{
    font-size: 17px;
  }
  .coutline{
    display: block;

  }
  .courseinfo {
    width: 90%;
    margin-left: -10%;
  }
  .courseinfo ul{
    width:100%;
  }
  .courseimg img{
    width:100%;
    height:auto;
  }
  .courseimg {
    margin-left:10%;
    width:80%;
    
  }
  .courseinfo h1{
    margin-left:20%;
    margin-top:-2%;
  }
  .coutline1{
    display:flex;
    flex-direction: column-reverse;
  }
  .courseinfo1 
  {
    width:80%;
  
  }
  .courseinfo1 p{
    text-align: center;
    width:121%;
    margin-left: 0%;
  }
  .courseinfo1 h1{
    text-align: center;
    width:80%;
    margin-left: 20%;
  }
  .courseinfo1 ul{
    width:100%;
   
  }
  .courseimg1 img{
    width:100%;
    height:auto;
  }
  .courseimg1 {
    margin-left:10%;
    width:80%;
    
  }
  .socialmedia ul {
    display: flex;
    margin-left: 22.5%;
}
#ibackground {
    opacity: 0.5;
    margin-left: 0%;
    height: fit-content;
}
#showcase h1 {
    margin-top: 0%;
    font-size: 30px;
    padding-top: 10px;
    margin-bottom: 10px;
    color: black;
    margin-left: 0%;
}
#f1 {
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 10px;
    margin-top: 0px;
}
#i {
    opacity: 0.4;
    height: fit-content;
}
}
.careers
{
  background-color: aliceblue;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  border-color: aliceblue;
  text-align: center;
  padding: 20px;
  border-style: solid;
  border-radius: 25px;
  margin-left:10%;
  margin-right: 5%;

}
#fit
{
  bottom: 0;
  margin:5px;
}
#career-align
{
  text-align: center;
  font-size: 30px;

}
.nav-active{
	transform: translateX(0%);
}
@keyframes navLinkFade {
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}
