body{
   font: 15px/1.5 Aria, Helvetica, sans-serif;
   padding: 0;
   margin: 0;
   background-color: #f4f4f4;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
ul{
    margin: 0;
    padding: 0;
} 

ul li{
    display: inline-table;
    margin-right:40px;
    
}
ul li ul li{
    display:flex;
    display: none


}
ul li:hover ul li{
    display:block;
}
header #branding h1{
    margin: 0;
}
header #branding img{
    transition: 1s ease;
    margin-left: 50px;
    margin-bottom: 10px
    width:100px;
    height: 100px;
    float:left;

}
header nav{
    float: right;
    margin-top: 10px;
}
header .current a{
    color: #e8491d;
    font-weight: bold;
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}
#showcase{
    min-height: 400px;
    background: url('../Images/') no-repeat 0 -400px;
    text-align: center;
    color: #ffffff;
}
#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
    color: black;
}
#showcase p{
    font-size: 20px;
    color: black;
}

#boxes{
    margin-top: 20px;
}
#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    /*height: 30%;*/
    padding: 10px;
}
#boxes .box img{
    width: 300px;
    height: 200px;

}

footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}
  .map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    background:grey;
   }
p
{
    style = "font-family:arial;";
    font-size: 25px;
}
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 25px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.centered1 {
  position: absolute;
  top: 20%;
  left: 50%;
  font-size: 25px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.container2 {
  position: relative;
  text-align: center;
  color: white;
}
.q
{
    margin-top: 0px;
    font-size: 15px;
    width: 260px;
    background-color: black;
    padding: 20px;
}
.r
{
    margin-top: 0px;
    margin-left: 32px;
    background-color: black;
    padding: 20px;
    width:260px;
}
.s
{
    opacity: 0.3;
}
.t
{
    width: 1500px;
    padding: 20px;
    text-align: left;
    margin-top: 1px;
    color: black;
    margin-bottom: 1px;
}
.v  
{
float: left;
width: 100px;
height: 200px;
}
.centered2 {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 25px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.container3 {
  position: relative;
  text-align: center;
  color: black;
}
#map { 
        height: 400px; 
        width: 100%; 
       } 
.cente {
  position: absolute;
  top: 15%;
  left: 35%;
  font-size: 40px;
  color: black;
  text-align: center;
  transform: translate(-50%, -50%);
}
.cent {
  position: absolute;
  top: 30%;
  left: 35%;
  font-size: 30px;
  color: black;
  text-align: left;
  transform: translate(-50%, -50%);
}

.faqbody .answer{
  padding-bottom: 20px;
  margin-bottom:5px;
  border-bottom : 2px solid #bdc3c7;
}
.faqbody .question{

  border-left :5px solid #bdc3c7;
  padding:5px;
}
.faqbody{
  font-family: 'Source Sans Pro', sans-serif;
  max-width:700px;
  width:80%;
  border :20px solid #bdc3c7;
  margin:10px auto;
  padding : 10px;
}
.faqbody h1{
  text-align: center;
}
.anbody{
  font-family: 'Source Sans Pro', sans-serif;
   max-width:700px;
  width:80%;
  margin:10px auto;
  padding : 10px;
}
.anbody h1{
  text-align: center;
}
.anbody .an1{
  border:50x solid #bdc3c7;
  text-align:center;
  margin-top:30px;
  background-color: #bdc3c7;
  margin-bottom:30px;
  padding-top: 20px;
  padding-bottom:20px;
}
.inbody{
    width:80%;
    height: auto;
    text-align: center;
    margin-left:10%;
   
}
#i
{
opacity: 0.4;
}
#ii
{
  color: black;
}
h2
{
  color: black;
  font-size: 45px;
  text-align: left;
}
.centered3 {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 25px;
  text-align: center;
  transform: translate(-50%, -50%);
}
#u
{
  color: black;
}
h3
{
  text-align: left;
}
